{% extends "base.html" %}

{% block content %}
  <h1>List of itineraries</h1>
  <table><thead><tr>
    <th id="depart">Lieu de départ</th>
    <th id="arrival">Lieu d'arrivée</th>
    <th id="hour">Heure de Départ</th>
    <th id="disp">Places disponibles</th>
    <th id="cost">Prix du voyage</th>
    <th id="link">Fiche détaillée</th></tr></thead>
    <tbody>
{% for itinerary in itineraries %}
  <tr> <td header="depart">{{itinerary.depart}}</td>
       <td header="arrival">{{itinerary.arrival}}</td>
       <td header="hour">{{itinerary.depart_hour}}</td>
       <td header="disp">{{itinerary.available_seats}}</td>
       <td header="cost">{{itinerary.itinerary_cost}}</td>
       <td header="link"><a href="sheet_itinerary/{{itinerary.id}}">Accéder à la fiche{{itinerary.id}}</a></td>
       </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
