<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>.pyVerts !</title>
    <link rel="stylesheet" media="screen" type="text/css" title="style" href="/static/julien.css"/>
    <link rel="stylesheet" media="screen" type="text/css" title="style" href="/static/guy.css"/>
  </head>
  <body>
    <div id="header">
< HEAD
      <ul>
        <li><a href="/users/signup" title="S'inscrire">S'inscrire</a> - <a href="/users/login" title="Se connecter">Se connecter</a></li>
          <li><a href="/users/signup" title="Chercher un utilisateur">Chercher un utilisateur</a></li>
          <li>[][loupe]</li>
      <ul id="nav">

        <li><a href="inscriptionche">S'inscrire - Se connecter</a></li>
          <li><a href="#">Chercher un utilisateur</a></li>
          <li class="search"><input type="search" name="q" class="searchtext"  accesskey="s"></label></li>
      </ul> 
      
	
	


      <div id="banniere"></div>
    </div>
    
    <div id="body">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      <ul>
        <li><a href="/plan" title="Plan du site"">Plan du site</a>
        <li><a href="/mentions" title="Mentions légales"">Mentions légales</a>
        <li><a href="/contact" title="Contact"">Contact</a>
        <li><a href="/convoiturage" title="Qu'est-ce que le convoiturage ?"">Qu'est-ce que le convoiturage ?</a>
      </ul>
    </div>
< HEAD
    <a href="http://www.w3.org/WAI/WCAG1AAA-Conformance"
      title="Explanation of Level Triple-A Conformance">
  <img height="32" width="88" 
          src="http://www.w3.org/WAI/wcag1AAA"
          alt="Level Triple-A conformance icon, 
          W3C-WAI Web Content Accessibility Guidelines 1.0"></a>
  </body>
</html>
