<!DOCTYPE html>
<html>
  <head>
    <title>.pyVerts !</title>
    <link rel="stylesheet" media="screen" type="text/css" title="style" href="julien.css"/>
    <link rel="stylesheet" media="screen" type="text/css" title="style" href="guy.css"/>
  </head>
  <body>
    <div id="header">
      <ul>
        <li><a href="inscriptionche">S'inscrire - Se connecter</a></li>
          <li>Chercher un utilisateur</li>
          <li>[][loupe]</li>
      </ul> 
      <div id="banniere"></div>
    </div>
    <div id="body">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      <ul>
        <li><a href="plan">Plan du site</a>
        <li><a href="mentions">Mentions légales</a>
        <li><a href="contact">Contact</a>
        <li><a href="convoiturage">Qu'est-ce que le convoiturage ?</a>
      </ul>
    </div>
  </body>
</html>
