{% extends "base.html" %}

{% block content %}
<h1>Contact</h1>
<p>Accéder à cette page signifie que tu souhaites exprimer ta haine envers notre équipe. Tu n'as pas apprécié qu'un 4x4 t'ait envoyé ses pires flatulences, que d'une limousine royale une créature d'une beauté implacable t'ait fait suffoquer par la fumée de son cigare, ou bien tu as appris que ton existence n'avait aucune valeur dans l'après-vie. Regarde donc <a href="/mentions">notre philosophie</a>, et tu sauras comment te relever de cette épreuve.</p>
<p>Si après cela, ta rage est toujours aussi crade et le besoin de nous contacter subsiste, il t'es possible de nous contacter à l'adresse suivante : norage@copainturages.net.</p>
{% endblock %}
