{% extends "base.html" %}

{% block content %}
<h1>Le convoiturage veut votre peau !</h1>
<p>En voici la preuve : </p>
<p><img src="../static/mort.jpg" alt="Voiture de convoiturage mortelle." /></p>
<p>Voyez ce méhicule de convoiturage ! Il considère que la vie des gens importe peu. Or, sans vie, pas de rage, et sans rage il n'y a pas de copainturage !</p>
<p>Ne vous laissez pas tenter par le convoiturage, ne sacrifiez pas la bonté d'âme qui réside en vous. Il faut contribuer à la rage écologique, et participer au copainturage !</p>
{% endblock %}
