{% extends "base.html" %}

{% block content %}
<h1>Le convoiturage veut ta peau !</h1>
<p>En voici la preuve : </p>
<p><img src="../static/mort.jpg" alt="Voiture de convoiturage mortelle." /></p>
<p>Vois ce méhicule de convoiturage ! Il considère que la vie des gens importe peu. Or, sans vie, pas de rage, et sans rage il n'y a pas de copainturage !</p>
<p>Ne te laisse pas tenter par le convoiturage, ne sacrifie pas la bonté d'âme qui réside en toi. Tu dois contribuer à la rage écologique, et participer au copainturage !</p>
{% endblock %}
