{% extends "base.html" %}

{% block content %}
<h1>Ayez la rage écologique !</h1>
<p>Révolté par ces entassements de boites de conserve, presque vides, polluant tes poumons ? Les vrais amis savent sauver les autres de la pollution ! Alors toi aussi, trouve des amis et prenez les mêmes chemins à l'aide d'une même voiture. Les membres de Copainturages sont des amis, prêts au copainturage pour partager des aventures fantastiques à faible empreinte écologique. Oseras-tu relever le défi des conserves remplies ?</p>
<p>Pour te lancer dans l'aventure, c'est très simple ! Il suffit d'une inscription, et en quelques clics, tu pourras trouver des copainturiens mordus de l'écologie environnante. Au plus tu copaintures, au plus se répand la rage, pour élever ton écolo-empreinte au-dessus des meilleurs amis de Copainturages !</p>
{% endblock %}
