{% extends "base.html" %}

{% block content %}
<h1>Vous naviguez sur un site décontracté.</h1>
<p>Copainturages, tous droits délivrés, © 2010.</p>
<p>Copainturages est une entité au-delà de toute frustration humaine. En naviguant sur ce site, vous reconnaissez, acceptez et embrassez l'idée que vous ne ragerez pas des administrateurs du site, mais redirigerez votre frustration vers ces gros 4x4 <a href="/convoiturage">convoituriens</a> afin d'entrer dans une rage frénétique de vaincre en vert !</p>
<p>Vous penserez également à participer dans un fier esprit de copainturage. Pas encore inscrit ? Enrage, l'inscription t'attend !</p>
{% endblock %}
