{% extends "base.html" %}

{% block content %}
  <h1>Vos voitures</h1>
  <ul>
  {% for car in cars %}
  <li>
    <span style="font-weight:bold;font-size:16px">{{ car.model }}</span>
    <em>({{ car.seats }} places, {{ car.fuel_type }}, {{ car.consumption }}L/100km)</em>
    {% if car.access %}
      <img src="/static/accessibility.png" alt="Accessibilité handicapés" />
    {% endif %}
    [<a href="/users/edit_cars/delete/{{ car.id }}/">Supprimer</a>]
  </li>
  {% endfor %}
  </ul>
  <a href="/users/edit_cars/add/" title="Ajouter un véhicule">
    <img border="0" src="/static/add_vehicle.png" alt="Ajouter un véhicule" />
  </a>
  <br />
  <a href="/users/edit_profile/" title="Retour au profil" style="font-size:18px;font-weight:bold">Retour à l'édition du profil</a>
{% endblock %}
